body{
    background-color:darkgray;
}
h1 , h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-align: left;
}