
body{
    background-color:white;

    
}
#titulo{
    color:teal;
    size: 0em;
}
p{
    font-size: small;
    color:black;
}
p strong{
    color: red;
    
}
.destacado{
color:coral;
}
#subtitulo{
    color:blue;
}
p a{
    color: red;
}

p em{
    color: blue;
}
table, tr, th, td{
    border:1px solid;
    border-color: black;
    border-collapse: collapse;

}
p .especial{
    color: blueviolet;
}
.especial{
    color: yellow;    
    
}
tbody tfoot{
    color: red;    
    border-color: black;
    
}
#adicional a{
    color: green;
    
}
#adicional p{
    color: olive;
}
td strong{
    color:yellow;
}
tr{
    color:green;
}
tr th{
    color:red;
}
#especial{
    color:violet;
}